
@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');
.main {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: #f59fae;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  
}
